/*  layout */

.resize-width{ 
    overflow:auto;
    resize:horizontal; 

    &.w36p{ padding:1%; width:36%; }
    &.w40p{ padding:1%; width:40%; }
    &.w48p{ padding:1%; width:48%; }
    &.w58p{ padding:1%; width:58%; }
    &.w62p{ padding:1%; width:62%; }
}

// 빈 div 높이 조절
.bin-div{
    &.h-45px{ height:45px; }
    &.h-50px{ height:50px; }
}

.icon-error{
	font-size:19px;
	color:#656d78;
	line-height:18px;
}
	
// navbar
.navbar{
	padding:0;
}
.navbar-nav{
	.dropdown{
		position:relative;
		.nav-link{
			padding:14px 0;
			height:50px;
			letter-spacing: -0.04em;
			font-size:$font-size-xl;
			color:$kap-fontcolor-black;
			vertical-align: middle;
			-webkit-transform: perspective(1px) translateZ(0);
			transform: perspective(1px) translateZ(0);
			position: relative;
			-webkit-transition-property: color;
			transition-property: color;
			-webkit-transition-duration: 0.2s;
			transition-duration: 0.2s;
			&:before{
				content: "";
				position: absolute;
				z-index: -1;
				top:0;
				left: 0;
				right: 0;
				bottom: 0;
				color:#fff;
				-webkit-transform: scaleY(0);
				transform: scaleY(0);
				-webkit-transform-origin: 50% 100%;
				transform-origin: 50% 100%;
				-webkit-transition-property: transform;
				transition-property: transform;
				-webkit-transition-duration: 0.2s;
				transition-duration: 0.2s;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
			}
			&:hover{
				color:#fff;
				&:before{
					content: "";
					-webkit-transform: scaleY(1);
					transform: scaleY(1);
				}
			}
		}
		.dropdown-toggle::after{
			display:none;
		}

		&.show{
			> a{
				transition:background-color 500ms;
				color:$kap-fontcolor-white;
			}
			.dropdown-menu{
				padding:5px;
				text-align:center;
			}
			.dropdown-header{
				font-weight:$kap-fontweight-m;
				min-height:30px;
				border-radius:$dropdown-item-border-radius;
				&:hover{
					color:$kap-fontcolor-white;
				}
				&+ .dropdown-divider{
					margin:0;
				}
			}
			.dropdown-item{
				font-size:$font-size-xs;
				color:$dropdown-item-color;
				border-bottom:1px solid $kap-gray-300;
				display:block;
				cursor:pointer;
			}
		}
		&:first-child{
			&.show> a, .dropdown-header:hover, .nav-link:before{
				background:$kap-navitem-first;
			}
		}
		&:nth-child(2){
			&.show> a, .dropdown-header:hover, .nav-link:before{
				background:$kap-navitem-second;
			}
		}
		&:nth-child(3){
			&.show> a, .dropdown-header:hover, .nav-link:before{
				background:$kap-navitem-third;
			}
		}
		&:nth-child(4){
			&.show> a, .dropdown-header:hover, .nav-link:before{
				background:$kap-navitem-fourth;
			}
		}
		&:nth-child(5){
			&.show> a, .dropdown-header:hover, .nav-link:before{
				background:$kap-navitem-fifth;
			}
		}
		&:nth-child(6){
			&.show> a, .dropdown-header:hover, .nav-link:before{
				background:$kap-navitem-sixth;
			}
		}
		&:nth-child(7){
			&.show> a, .dropdown-header:hover, .nav-link:before{
				background:$kap-navitem-first;
			}
		}
		&:nth-child(8){
			&.show> a, .dropdown-header:hover, .nav-link:before{
				background:$kap-navitem-second;
			}
		}
		&:nth-child(9){
			&.show> a, .dropdown-header:hover, .nav-link:before{
					background:$kap-navitem-third;
			}
		}
		&:nth-child(10){
			&.show> a, .dropdown-header:hover, .nav-link:before{
				background:$kap-navitem-fourth;
			}
		}
	}

	// The dropdown menu
	.dropdown-menu{
		left:50%;
		top:110%;
		transform:translateX(-50%);
		-webkit-transform:translateX(-50%);
	}
}

//kap-layout
//---------------------------

// header
.header-wrap{
	width:100%;
	border-bottom:1px solid #e6e9ed;
}
.btn-login{
	border-radius:35px !important;
	background:$kap-blue;
	width:35px;
	height:35px;
	padding:0;
	min-width:0;
	&:hover{
		background:$kap-blue-dark;
	}
	&:before{
		@extend .icon-ka;
		content:$icon-user;
		display:inline-block;
		width:17px;
		height:17px;
		color:$white;
	}
	&:after{
		display:none;
	}
}

.drop-login{
	padding:9px;
	width:200px;
	text-align:right;
	font-size:$font-size-sm;

	li{
		margin-bottom:5px;
		padding:0;
	}
	.wj-content{
		border-color:$kap-border-color-light;
		width:100%;
	}
	.btn{
		font-size:$font-size-sm;
	}
	.login-user-info{
		border:1px solid $kap-border-color-light;
		padding:15px 10px;
		text-align:left;
		margin-bottom:5px;
		color:$kap-gray-600;
		@include border-radius(3px);

		.user01{
			color:$kap-gray-700;
		}
	}
}
.container{
	//넓은 화면보여줄때
	&.widescreen{
		max-width:100%;
		padding:0 30px;

		-webkit-transition: 0.5;
		transition: 0.5s;
	}
}
.body-wrap{

	.container{
		position:relative;
		-webkit-transition: 0.5;
		transition: 0.5s;

		// lnb 보여질때 추가되는 class
		// &.lnb-open{
		// 	padding-left:0;
		// 	.lnb-wrap{
		// 		display:block;
		// 		-webkit-transition:width 0.5s, opacity 0.5s, display 0.5s;
		// 		transition:width 0.5s, opacity 0.5s, display 0.5s;
		// 		opacity:1;
		// 		width:180px;
		// 		z-index:10;
		// 		position:absolute;
		// 		left:0;
		// 		top:0;
		// 		bottom:0;
		// 		background:#fff;
		// 		border-left:1px solid #ddd;
		// 		border-right:1px solid #ddd;
		// 	}
		// }
	}

	//lnb
	.lnb-wrap{
		position:absolute;
		left:0;
		top:60px;
		bottom:0;
		opacity:0;
		width:0px;

		-webkit-transition:width 0.5s, opacity 0.8s, display 0.5s;
		transition:width 0.5s, opacity 0.8s, display 0.5s;
		
		button{
			width:0;
			opacity:0;
			-webkit-transition:width 1s, opacity 1s;
			transition:width 1s, opacity 1s;
		}

		&.show{
			display:block;
			opacity:1;

			width:180px;

			z-index:10;
			background:#fff;
			border-left:1px solid #ddd;
			border-right:1px solid #ddd;

			-webkit-transition:width 0.6s, opacity 0.8s, display 0.5s;
			transition:width 0.6s, opacity 0.8s, display 0.5s;

			button{
				width:100%;
				opacity:1;
				-webkit-transition:width 1s, opacity 1s;
				transition:width 1s, opacity 1s;
			}
		}
		ul{
			display:block;
			li{
				button{
					display:block;
					min-width:100%;
				}
			}
		}
		
	}

	.body-main-wrap{

		.contents-body{
			background:$data-body-bg;
			padding:20px;

			.contents-row{
				margin-bottom:10px;
			}
		}
		.contents-footer{
			margin-top:30px;
			text-align:center;
		}
	}
}

// footer
.footer-wrap{
	background:#f5f7fa;
	border-top:1px solid #e6e9ed;
	min-height:50px;
	color:#95a5a6;
	font-size:$font-size-xs;
	margin-top:30px;
	
	.footer-left{
		padding-top:16px;
	}
	.footer-right{
		padding-top:12px;
		text-align:right;
		ul li{
			display:inline-block;
			margin-left:22px;
			font-size:12px;
			color:#95a5a6;
			
			[class^="icon-"]{
				font-size:18px;
				vertical-align: middle;
				margin-right:10px;
				color:$gray-600;
			}
		}
	}
}


.util-wrap{
	border-bottom:1px solid #e6e9ed;
	height:96px;
	padding-top:30px;
	// logo

	.logo{
		height:35px;
		padding:0;
		font-size:0;
		margin:0;

		> img{
			height:100%;
		}
	}
	.form-group{
		font-size:$font-size-sm;
		margin-top:-3px;
	}
}

// 경로
.location-wrap{
	text-align:right;
}
.breadcrumb{
	background-color:$white;
	.breadcrumb-item{
		font-size:$breadcrumbitem-fontsize;
		color:$breadcrumbitem-color;

		&.active{
			color:$breadcrumb-active-color;
		}
		& + .breadcrumb-item::before{
			font-size:$breadcrumb-divider-size;
		}
	}
}

// 페이지 타이틀
.title-wrap{
	position:relative;
	display: table;
	width:100%;
	@include clearfix;
	.position-absolute{
		
	}
	
	> .title{
		display:table-cell;
		font-family: 'Noto Sans KR Medium';
		font-weight:normal;
		margin:0;
		line-height:1;
		vertical-align: middle;

		>[class^=icon-]{
			margin-right:10px;
		}
		&.text-center{
			> .title-right{
				position: absolute;
				top:50%;
				transform: translateY(-50%);
				right:0;
			}
		}
		
	}
	.badge{
		margin-left:5px;
		vertical-align: middle;
	}
	
	> .title-right{
		display:table-cell;
		vertical-align: middle;
		text-align:right;
		.badge+.badge{
			margin-left:3px;
		}
		.text-sm + .badge{
			margin-left:10px;
		}
	}

	&.text-center{
		.title{
			float:none;
		}
	}
	

	&.level-2{
		padding-top:19px;
		padding-bottom:14px;
		
		>.title{
            font-size: $kap-level2-font-size;
        }

		&:before{
			content:'';
			position:absolute;
			left:0;
			top:0;
			display:inline-block;
			width:30px;
			height:1px;
			background:#000;
		}
		.badge{
			font-size:$font-size-sm;
			background:#90a4ae;
			padding-top:7px;
		}
	   
	}
	&.level-3{
		
		> .title{
			font-weight:normal;
			font-size: $kap-level3-font-size;
			color:#424242;
			.badge{
				margin-top:-5px;
			}
			
		}

		&.title-em{

			> .title{
				color:#212121;
				font-size:$kap-level3-em-font-size;
			}
		}

	}
	&.level-4{
		background:$kap-gray-600;
		height:40px;
		
		> .title{
			font-weight:normal;
			color:$white;
			font-size: $kap-level4-font-size;
			padding-left:9px;
			padding-right:9px;
		}
	
		&+.cont-wrap{
			padding:20px;
			background:$white;
			border:1px solid #eaeaea;
			border-bottom:1px solid #bdbdbd;
			// min-height:238px;
			
			.form-group{
				&:last-child{
					margin-bottom:0;
				}
			}
		}
		.title-right{
			padding-right:9px;
		}
	}
	
}

// 조회bar
.lookup-wrap{
	position:relative;
	border-top:2px solid #34373f;
	border-bottom:2px solid #34373f;
	padding:0;
	background: $kap-gray-200;
	margin-bottom:10px;

	> .row{
		padding-top:10px;
		-webkit-align-items: center !important;
		align-items: center !important;
		margin-bottom:0px;
		
		.btn{
			vertical-align: middle;
			margin-bottom:10px;
		}
		&:last-child{
			border-top:1px solid #e6e9ed;
		}

		> [class*="col"]{
			&:first-child{
				padding-left:10px;
			}
			&:last-child{
				padding-right:10px;
			}
		}
	}
	
	.form-inline{
		
		>.form-group{
			padding-left:14px;
			margin-bottom:10px;
			
			
			.form-range{
				min-width:50%;
			}
			label{
				display:inline-block;
				text-align:left;
				padding-right:10px;
				margin-bottom:0;
				color:$kap-fontcolor-gray-dark;
				min-width:65px;
				@include media-breakpoint-up(sm) {
					min-width:auto;
				}
				
			}
			.wj-control.wj-inputdate{
				width:130px;
			}
			.wj-control.wj-combobox {
				width:130px;
			}
			.wj-control + .control-text{
				margin-left:9px;
				margin-right:9px;
			}
			.wj-autocomplete{
				width:200px;
			}
			.wj-control+.btn{
				margin-left:5px;
			}
			&+.btn{
				margin-left:10px;
			}
			
		}
		.form-check{
			margin-bottom:10px;
			margin-left:14px;
		}
		
	} 
	.btn-execution{
		position:absolute;
		right:8px;
		top:10px;
	}
}

.function-wrap{
	@include clearfix;

	.function-right{
		text-align:right;

		button + button{
			margin-left:3px;
		}
	}
}

.etc-wrap{
	color:$kap-fontcolor-gray;
    font-size:$font-size-sm;
    padding-left:36px;
    
	>[class^="icon-"]{
		position:absolute;
		left:0px;
		top:0;
	}
	.icon-info{
		color:$kap-gray-700;
		font-size:1.25rem;
		vertical-align:middle;
		line-height:1;
	}
}


.data-wrap{

	[class*="inner"]{ 
		background:$white;
		margin-top:20px;
	}
	.etc-wrap{
		>[class^="icon-"]{
			left:10px;
		}
	}
	.wj-grouppanel{
		padding:0px 0 5px;
		font-size:$font-size-sm;
	}
	
}

// text size 공통
.text-sm{
	color:$text-sm-color;
	font-size:$text-sm-size;
}
.text-36{
	font-size:36px;
}
.text-24{
	font-size:24px;
}
.text-20{
	font-size:20px;
}
.text-16{
	font-size:16px;
}
.link{
	position: relative;
	display:inline-block;
	padding-bottom:2px;

	&:after{
		content:'';
		position: absolute;
		left:0;
		bottom:0;
		right:0;
		display:block;
		height:2px;
		border-bottom:1px dotted #bdbdbd;
	}
	&:hover{
		color:$kap-blue;
	}
}


//lnb-btn
.btn-lnb{
	display:inline-block;
	cursor:pointer;
	width:50px;
	height:50px;
	@include border-radius(0);
	text-align:center;
	padding:17px;
	line-height:0;
	font-size:0;
	background:#aab2bd;
	border:0;
	min-width:auto;

	.bar1,
	.bar2,
	.bar3{
		display:block;
		width:16px;
		height:2px;
		background-color:$white;
		margin-bottom:6px;
		transition:0.4s;
	}

	&.change{
		background:$kap-gray-700;
		.bar1{
			background-color:#fff;
			-webkit-transform:rotate(-45deg) translate(-5px, 4px);
			transform:rotate(-45deg) translate(-5px, 4px);
		}
		.bar2{
			opacity:0;
		}
		.bar3{
			-webkit-transform:rotate(45deg) translate(-8px, -6px);
			transform:rotate(45deg) translate(-8px, -6px);
		}
	}
}
@include media-breakpoint-up(lg){

	// lnb 보여질때 추가되는 class
	.body-wrap{
		> .container{
			&.lnb-open{
				padding-left:200px;

			}
		}
	}
}


// popover
.popover{
	padding:$popover-all-padding;
}


// range input
input[type=range] {
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;

	&:focus {
		outline: none;
	}
	// chrome.. 
	&::-webkit-slider-runnable-track {
		width: 100%;
		height: 3px;
		cursor: pointer;
		animate: 0.2s;
		box-shadow: 0px 0px 0px #000000;
		background: #CCD1D9;
		border-radius: 1px;
		border: 0px solid #000000;
	}
	&::-webkit-slider-thumb {
		box-shadow: 0px 0px 0px #4B72DC;
		border: 3px solid #4a89dc;
		height: 17px;
		width: 17px;
		border-radius: 20px;
		background: #FFFFFF;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -8.5px;
	}
	&:focus::-webkit-slider-runnable-track {
		background: #CCD1D9;
	}
	&::-moz-range-track {
		width: 100%;
		height: 3px;
		cursor: pointer;
		animate: 0.2s;
		box-shadow: 0px 0px 0px #000000;
		background: #CCD1D9;
		border-radius: 1px;
		border: 0px solid #000000;
	}
	&::-moz-range-thumb {
		box-shadow: 0px 0px 0px #4B72DC;
		border: 3px solid #4a89dc;
		height: 17px;
		width: 17px;
		border-radius: 20px;
		background: #FFFFFF;
		cursor: pointer;
	}
	// ie
	&::-ms-track {
		width:100%;
		height: 5px;
		background: transparent;
		border-color: transparent;
		border-width: 6px 0;
		color: transparent;
	}
	&::-ms-fill-lower {
		background: #777;
		border-radius: 10px;
	}
	&::-ms-fill-upper {
		background: #ddd;
		border-radius: 10px;
	}
	&::-ms-thumb {
		border: none;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		background: #fff;
		border: 3px solid #4a89dc;
		box-sizing:border-box;
	}
	&:focus::-ms-fill-lower {
		background: #888;
	}
	&:focus::-ms-fill-upper {
		background: #CCD1D9;
	}
}



// table
.table{
	width:100%;
	margin-bottom:$table-spacer;
	text-align: center;
	//border-bottom:1px solid #e6e9ed;
	border-top:1px solid $table-outline-color;
	font-size:$font-size-sm;
	tr{	
		>td{
			color:$kap-fontcolor-gray;
		}
		>td, >th{
			vertical-align: middle;	
			border-left:1px solid #e6e9ed;
			word-break:break-all;
			word-wrap: break-word;
			border-top:0;
			border-bottom:$table-border-width solid $table-border-color;
			
			&:first-child{
				border-left:0;
			}
			&:last-child{
				border-right:0;
			}
		}
		&.total{
			background:#fffece;
			color:#616161;
		}
		
	}
	thead{
		border-bottom: 1px solid #434a54;
		th{
			border-bottom:0;
			color:$kap-fontcolor-black;
			&:first-child{
				border-left:0;
			}
			&:last-child{
				border-right:0;
			}
		}
	}
	tbody{
		tr{
			&:nth-child(2n){
				td{
					background: #fafafa;
				}
			}
			&:first-child{	
				td, th{
					border-top:1px solid $table-outline-color;
				}
			}
		}
	}
		

	
	&.table-horizontal{
		
		tr{
			th{
				background: #f5f7fa;
				
				&:first-child{
					border-left:0;
				}
			}
			td{
				&:last-child{
					border-right:0;
				}
			}
			&:nth-child(2n){
				td{
					background: none;
				}
			}
		}
		&.table-compare-5{
			td{
				width: 18%;
			}
		}
		&.table-compare-4{
			td{
				width: 22.5%;
			}
		}
		&.table-compare-3{
			td{
				width: 30%;
			}
		}
		&.table-compare-2{
			td{
				width: 45%;
			}
		}
	}
	&.table-edit{
		border:0;
		tr{
			th, td{
				border:0;
				background:#fff;
				text-align:left;
			}
			th{
				font-size:16px;
			}
		}
		.form-group.plain{
			.wj-control{
				width:100%;
			}
		}
	}
	.cell-divide{
		background: #f5f7fa;
		border-top:1px solid #e6e9ed;
	}
}


// article
.article-container{
	>h2{
		color:$article-h2-color;
		font-size: $article-h2-font-size;
		font-weight:bolder;
		margin-bottom:0;
	}
	>h3{
		color:$article-h3-color;
		font-size:$article-h3-font-size;
		font-weight:bolder;
		margin-bottom:0;
		&.title-em{
			color:$kap-blue-dark;
		}
	}
	h2+h3{
		margin-top:25px;
	}
	h2+ul, h3+ul{
		margin-top:15px;
	}
	h3+h3{
		margin-top:25px;
	}
	ul+h3{
		margin-top:25px;
	}
	>ul{
		>li{
			position: relative;
			color:$article-ul-color;
			font-size:$article-ul-font-size;
			
			padding-left:10px;
			margin-bottom:5px;

			&:before{
				content:'';
				position:absolute;
				left:0;
				top:8px;

				display:inline-block;
				width:$article-ul-dot-size;
				height:$article-ul-dot-size;
				background:$article-ul-color;
			}
			.list-title{
				margin-right:10px;
			}

			
			ul{
				margin-top:3px;

				>li{
					padding-left:10px;
					position: relative;
					font-size:$article-ul-depth-font-size;

					&:before{
						content:'-';
						position:absolute;
						left:0;
						top:8px;
						line-height:0;
						display:inline-block;
					}
				}
			}
		}	
	}
	&.text-small{
		ul li{
			font-size:13px;
		}
	}
}


//hilight.js
.textEditor {
	code{
		height: 450px;
		overflow: auto;
		padding: 12px;
		background: #ffe;
		border: 1px solid #ccc;
		//white-space: normal; // 과장님 개행때문에 주석 달았어요 
		line-height:1.9;
	}
}


// icon- 관련 스타일 
.icon-box{
	display:inline-block;
	vertical-align: middle;
	width:30px;
	height:30px;
	line-height:30px;
	border-radius:50%;
	font-size:20px;
	color:#fff;
	text-align: center;
}


//개별 페이지 추가 작업
//시나리오 분석
.senairo-toggle-big{
	position: relative;
	height:60px;
	font-size:24px;
	padding-right:31px;

	&:before{
		content:'';
		position:absolute;
		right:31px;
		top:0;
		bottom:0;
		display:inline-block;
		width:1px;
		background: #4486da;

	}
	&:after{
		font-size:14px;
		position:absolute;
		right:13px;
		top:50%;
		
	}
}
.senairo-text{
	color:$kap-fontcolor-gray;
	font-size:$font-size-xl;
	line-height: 50px;
	vertical-align: baseline;
	
	em{
		font-size:$font-size-24;
		font-weight: bold;
	}
}





// main 
.main-container{
	padding-top:30px;
	.card{
		border:0;
		border-radius:$border-radius;
		overflow:hidden;
		cursor:pointer;
		.card-img-overlay{
			padding:30px;
		}
		.card-title{
			font-size:$font-size-24;
			font-weight: $kap-fontweight-m;
			margin-bottom:20px;
		}
		.card-text{
			font-size:$font-size-sm;
			line-height:1.2;
		}
	}
	
	.card{
		&.offsection{
			&:before{
				content:'';
				display:block;
				width:100%;
				position:absolute;
				left:0;
				top:0;
				bottom:0;
				right:0;
				background: rgba(255,255,255,0.9);
			}
		}
		
	}
}

//개별스타일
// 상품설명서
.card.card-info{
	.card-body.card-textbox{
		display:flex;
		-ms-display:flex;
		-ms-flex-pack: center!important;
		justify-content: center!important;
		-ms-flex-align: center!important;
		align-items: center!important;
		padding:5px 10px;
		vertical-align: bottom;
		min-height:55px;
		em{
			font-weight: bold;
		}
		.smalltext{
			font-size:13px;
			margin-top:8px;
		}
	}
}

// 범례
.legend-wrap{
	color:$kap-fontcolor-gray;
	font-size:$font-size-xs;
	vertical-align:middle;
	.legend-bar{
		display:inline-block;
		width:15px;
		height:2px;
		margin-top:-3px;
		vertical-align: middle;
		line-height:0;
		font-size:0;
		margin-right:5px;
		&.legend-one{
			border-radius:12px;
			width:11px;
			height:11px;
			background: #fff;
		}
	}
}
.legend-wrap+.legend-wrap{
	margin-left:14px;
}


//quiz
.quiz-q{
	font-size:$font-size-xl;
	color:$kap-fontcolor-black;
	margin-bottom:8px;
	.badge{
		font-size:$font-size-xl;
		min-width:60px;
		margin-left:11px;
		padding-top:4px;
	}
}
.quiz-a{
	padding-left:18px;
	
}
.quiz-reply{
	margin-left:18px;
	position: relative;
	border:1px solid #e53749;
	border-radius:4px;
	padding:10px 10px 10px 34px;
	line-height: 1.5;
	color:#616161;
	.quiz-reply-icon{
		line-height:1;
		position: absolute;
		top:9px;
		left:9px;
		font-size:19px;
		color:#e53749;
	}
}

.custom-radio{
	color:#626262;
	font-size:$font-size-sm;	
	margin-bottom:13px;
	&.quiz-a-correct{
		.custom-control-label{
			color:#e53749;
		}
		.custom-control-input:checked ~ .custom-control-label::before{
			border-color: #aab2bd;
			background-color: #fff;
		}
		.custom-control-input:checked ~ .custom-control-label::after{
			content:'';
			display:inline-block;
			width:8px;
			height:8px;
			background: #e6364a;
			border-radius:20px;
			left:-20px;
			top:5px;

		}
	}
}




