//kap reset
//
// Scaffolding
// --------------------------------------------------

// Links
a {
	color:initial;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active,
	&:visited {
		color:initial;
		text-decoration: none;
	}
}


// kap 컴포넌트

/* The switch - the box around the slider */
.switch-wrap{
	position: relative;
	display: inline-block;
}
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 15px;
	
	input {
		display:none;

		&:checked + .slider {
			background-color: #2196F3;
		}
		&:focus + .slider {
			box-shadow: 0 0 1px #2196F3;
		}
		&:checked + .slider:before {
			-webkit-transform: translateX(13px);
			-ms-transform: translateX(13px);
			transform: translateX(13px);
		}
	}
	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;

		&:before {
			position: absolute;
			content: "";
			height: 9px;
			width: 9px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
		}
		/* Rounded sliders */
		&.round {
			border-radius: 9px;
		}
		&.round:before {
			border-radius: 50%;
		}
	}
}


// header
.header-wrap{
	width:100%;
	border-bottom:1px solid #e6e9ed;
}
.util-wrap{
	border-bottom:1px solid #e6e9ed;
}

// navbar
.navbar-brand{
	padding:0;
	>img{
		height:100%;
	}
}
.body-wrap{
	min-height:700px;
	.container{
		position: relative;
	}
}

// footer
.footer-wrap{
	margin-top:30px;
	background: #f5f7fa;
	border-top:1px solid #e6e9ed;
	min-height:50px;
}


// 경로
.location-wrap{
	text-align:right;
}
.breadcrumb {
	padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
	margin-bottom: $line-height-computed;

	> li {
		+ li:before {
		content: '>'; 
		// Unicode space added since inline-block means non-collapsing white-space
		padding: 0 5px;
		}
		a{
			color: $breadcrumb-color;
		}
	}
}

// 페이지 타이틀
.pagetitle-wrap{
	position: relative;
	padding-top:19px;
	padding-bottom:15px;
	@include clearfix ;

	&:before{
		content:'';
		position:absolute;
		left:0;
		top:0;
		display:inline-block;
		width:30px;
		height:1px;
		background: #000;
	}
	>.title-2{
		float:left;
		font-size:32px;
		font-weight: bold;
		margin:0;
		
	}
	>.title-right{
		float:right;
	}
}

//lnb
.lnb-wrap{
	display:none;
	position: absolute;
	left:0;
	top:0;
	bottom:0;
	width:180px;
	background: #e1e1e1;
}


// 조회bar
.lookup-wrap{
	position: relative;
	background: #34373f;
	padding:10px 0 0;
	color:#fff;
	.form-inline{
		padding-right:140px;
	}
	.form-group{
		margin-bottom:10px;
		padding-left:25px;
		height:30px;
	  >label{
		padding-right:15px;
		margin-bottom:0;
		vertical-align: middle;
		color:#fff;
	  }
	}
	.btn{
		margin-bottom:10px;
	}
	.btn-execution{
		position: absolute;
		right:8px;
		top:10px;
	}
	.kap-datetime{
		width:130px;
	}

}

// 하단 내용 나오는 부분
.contents-body{
	background: #ecf0f1;
	padding:20px;
}
.cont-wrap{
	[class*="inner"] {
	   background: #fff;
	   border:1px solid #eaeaea;
	   border-bottom:1px solid #bdbdbd;
	}
	[class^="inner"] {
		margin-bottom:20px;
	}
}

.cont-wrap{
	margin-top:20px;
}