// kap 컴포넌트
//---------------------------

/* The switch - the box around the slider */
.switch-wrap{
	position: relative;
	display: inline-block;
}
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 15px;
	
	input {
		display:none;

		&:checked + .slider {
			background-color: #4a89dc;
		}
		&:focus + .slider {
			box-shadow: 0 0 1px #4a89dc;
		}
		&:checked + .slider:before {
			-webkit-transform: translateX(13px);
			-ms-transform: translateX(13px);
			transform: translateX(13px);
		}
	}
	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;

		&:before {
			position: absolute;
			content: "";
			height: 9px;
			width: 9px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
		}
		/* Rounded sliders */
		&.round {
			border-radius: 9px;
		}
		&.round:before {
			border-radius: 50%;
		}
	}
}




// wijmo core
//---------------------------
// primary control class: applies to all Wijmo controls
.wj-control {
    display: block;
    box-sizing: border-box;
    color: $wj-txt;
    @include backgradient($wj-bkg, $wj-bkg-grd);
    @include prefix(user-select, none, webkit moz ms);

    * {
        box-sizing: inherit;
    }

    &[disabled] { // disabled controls (TFS 330684)
        opacity: $wj-disabled-opacity;
        cursor: default;
        pointer-events: none;
    }
    // to make contenteditable work on iOS
    // http://stackoverflow.com/questions/21295698/html5-contenteditable-attribute-not-working-properly-on-ios7-mobile-safari
    [contenteditable] {
        @include prefix(user-select, text, webkit moz ms); // Required on iOS
    }
    // remove focus outline
    &:focus, *:focus, a:focus {
        outline: none;
    }
    // remove browser-specific elements from input controls
    input {

        &::-ms-clear { // remove clear button in IE input elements
            display: none;
        }

        &[type=number] { // spinner buttons in Chrome
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        &:invalid { // red outline validation in Firefox
            box-shadow: none;
            outline: none; // TFS 327581
        }
    }
    // button elements
    .wj-btn {
        @include backgradient($wj-btn-bkg, $wj-btn-grd, $wj-btn-bkg, rgba(0,0,0,.1));
        color: $wj-btn-txt;
        cursor: pointer;
        display: inline-block;
        border-style: none;
        padding: 0 10px;
        text-align: center;
        min-width: 30px;
        white-space: nowrap;

        &:focus, &:hover {
            @include backgradient($wj-btn-hvr, $wj-btn-grd, $wj-btn-bkg, rgba(0,0,0,.2));
            transition-duration: $wj-tdn-focus;
        }

        &[disabled] { // disabled buttons in controls
            opacity: $wj-disabled-opacity;
            cursor: default;
            pointer-events: none;
        }
    }
    // button-styled links
    a.wj-btn,
    button.wj-btn:not(.wj-btn-default) { // not for buttons in input controls
        border-radius: $wj-bdr-rad;
        padding: 6px 15px;
        text-decoration: none;
        font-weight: bold;
        font-size: 12px;
    }
}


//kap-layout
//---------------------------

// header
.header-wrap{
	width:100%;
	border-bottom:1px solid #e6e9ed;
}

.body-wrap{
	min-height:700px;
	.container{
		position: relative;

		// lnb 보여질때 추가되는 class
		&.lnb-open{
			padding-left:200px;
			.lnb-wrap{
				display:block;
			}
		}
	}
	
	//lnb
	.lnb-wrap{
		display:none;
		position: absolute;
		left:0;
		top:0;
		bottom:0;
		width:180px;
		background: #fff;
		border-left:1px solid #ddd;
		border-right:1px solid #ddd;
	}

	.body-main-wrap{
		
		.contents-body{
			background: #ecf0f1;
			padding:20px;
		}
		.contents-footer{
			margin-top:30px;
			text-align:center;
		}
	}
}


// footer
.footer-wrap{
	background: #f5f7fa;
	border-top:1px solid #e6e9ed;
	min-height:50px;
}






.util-wrap{
	border-bottom:1px solid #e6e9ed;
}


// navbar
.navbar-brand{
	padding:0;
	>img{
		height:100%;
	}
}

.function-wrap{
	@include clearfix;
	.function-left{
		float:left;
	}
	.function-right{
		float:right;
	}
}


// 경로
.location-wrap{
	text-align:right;
}
.breadcrumb {
	padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
	margin-bottom: $line-height-computed;

	> li {
		+ li:before {
		content: '>'; 
		// Unicode space added since inline-block means non-collapsing white-space
		padding: 0 5px;
		}
		a{
			color: $breadcrumb-color;
		}
	}
}

// 페이지 타이틀
.pagetitle-wrap{
	position: relative;
	padding-top:19px;
	padding-bottom:15px;
	@include clearfix ;

	&:before{
		content:'';
		position:absolute;
		left:0;
		top:0;
		display:inline-block;
		width:30px;
		height:1px;
		background: #000;
	}
	>.title-2{
		float:left;
		font-size:32px;
		font-weight: bold;
		margin:0;
		
	}
	>.title-right{
		float:right;
	}
}



// 조회bar
.lookup-wrap{
	position: relative;
	background: #34373f;
	padding:10px 0 0;
	color:#fff;
	.form-inline{
		padding-right:140px;
	}
	.form-group{
		margin-bottom:10px;
		padding-left:25px;
		height:30px;
	  >label{
		padding-right:15px;
		margin-bottom:0;
		vertical-align: middle;
		color:#fff;
	  }
	}
	.btn{
		margin-bottom:10px;
	}
	.btn-execution{
		position: absolute;
		right:8px;
		top:10px;
	}
	.kap-datetime{
		width:130px;
	}

}


.data-wrap{
	margin-top:20px;
	
	[class*="inner"] {
	   background: #fff;
	   border:1px solid #eaeaea;
	   border-bottom:1px solid #bdbdbd;
	   margin-bottom:10px;
	}
}
