
.form-group{
    margin-bottom:0;
    
    >[class^="col-"]{
        .wj-control {
            width: 100%;
        }
    }
    button{
        width:100%;
    }
}
.form-lg{
    .wj-control {
        height: 40px;
        width: 100%;
        
        .wj-form-control {
            display: flex;
            -ms-flex-align: center!important;
           align-items: center!important;
           height:40px;
        }
    }
    >label,
    .input-group >label{
        vertical-align: middle;
        display: flex;
        font-size:15px;
        color:#424242;
        padding-top:11px;
        min-height:40px;
    }
    [class*="checkbox"]{
        
        padding-top:12px;
        padding-bottom:12px;
        
    }   
    
}
.form-sm{
    .wj-control {
        height: 20px;
        
        .wj-form-control {
            line-height: 20px;
        }
    }
}
.form-check + .form-check{
    margin-left:20px;
}
form{
    
    .form-inline{
        [class*="checkbox"]{
            margin-right:20px;
        }
    }
    
}

.text-in{
	color:$kap-fontcolor-gray-light;
	position:absolute;
	right:0;
	bottom:0;
}

.form-text{
	display:inline-block;
	position:absolute;
	right:0;
	bottom:10px;
	color:#727272;
}

.form-row {
    margin-right: -10px;
    margin-left: -10px;
  
    > .col,
    > [class*="col-"] {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

.input-group{
    .wj-content{
        width:100%;
    }
    .wj-control .wj-input-group .wj-form-control{
       padding-right:30px;
    } 
   
}

.custom-checkbox{
    .custom-control-label{
        &::before,&::after{
            top:0;

        }
        &:hover{
            color:darken($primary , 25%);
            &:before{
              
               animation: shrink-bounce 300ms cubic-bezier(.4,.0,.23,1);
            }
        }
    }
    .custom-control-input:checked ~ .custom-control-label::before {
         animation: check-bounce 300ms cubic-bezier(.4,.0,.23,1);
    }
}
@keyframes shrink-bounce{
    0%{
        transform: scale(1);
    }
    33%{    
      transform: scale(0.80);
    }
    100%{
      transform: scale(1);    
    }
  }

@keyframes check-bounce{
    from {
        opacity: 0;
        transform: scale(0.3);
        }
    to {
    opacity: 1;
    transform: scale(1)
    }
}