/* iconfont */

[class^="icon-"]{
	display:inline-block;
	@extend .icon-ka;
}

/* 아이콘 폰트 Style */
.icon-analysis{
	&:before {
		content: $icon-analysis;
	}
}
.icon-arrow-down{
	&:before {
		content: $icon-arrow-down;
	}
}
.icon-arrow-next{
	&:before {
		content: $icon-arrow-next;
	}
}
.icon-arrow-prev{
	&:before {
		content: $icon-arrow-prev;
	}
}
.icon-arrow-up{
	&:before {
		content: $icon-arrow-up;
	}
}
.icon-calculator{
	&:before {
		content: $icon-calculator;
	}
}
.icon-calendar{
	&:before {
		content: $icon-calendar;
	}
}
.icon-card{
	&:before {
		content: $icon-card;
	}
}
.icon-cart{
	&:before {
		content: $icon-cart;
	}
}
.icon-change{
	&:before {
		content: $icon-change;
	}
}
.icon-chart-view{
	&:before {
		content: $icon-chart-view;
	}
}
.icon-check{
	&:before {
		content: $icon-check;
	}
}
.icon-check-circle{
	&:before {
		content: $icon-check-circle;
	}
}
.icon-chrome{
	&:before {
		content: $icon-chrome;
	}
}
.icon-close{
	&:before {
		content: $icon-close;
	}
}
.icon-compare{
	&:before {
		content: $icon-compare;
	}
}
.icon-comparison{
	&:before {
		content: $icon-comparison;
	}
}
.icon-cursor{
	&:before {
		content: $icon-cursor;
	}
}
.icon-disk{
	&:before {
		content: $icon-disk;
	}
}
.icon-document-check{
	&:before {
		content: $icon-document-check;
	}
}
.icon-document-list{
	&:before {
		content: $icon-document-list;
	}
}
.icon-document-view{
	&:before {
		content: $icon-document-view;
	}
}
.icon-dotted{
	&:before {
		content: $icon-dotted;
	}
}
.icon-down{
	&:before {
		content: $icon-down;
	}
}
.icon-download{
	&:before {
		content: $icon-download;
	}
}
.icon-edit{
	&:before {
		content: $icon-edit;
	}
}
.icon-email{
	&:before {
		content: $icon-email;
	}
}
.icon-error{
	&:before {
		content: $icon-error;
	}
}
.icon-event{
	&:before {
		content: $icon-event;
	}
}
.icon-excel{
	&:before {
		content: $icon-excel;
	}
}
.icon-first{
	&:before {
		content: $icon-first;
	}
}
.icon-folder{
	&:before {
		content: $icon-folder;
	}
}
.icon-group{
	&:before {
		content: $icon-group;
	}
}
.icon-hourglass{
	&:before {
		content: $icon-hourglass;
	}
}
.icon-ie{
	&:before {
		content: $icon-ie;
	}
}
.icon-info{
	&:before {
		content: $icon-info;
	}
}
.icon-last{
	&:before {
		content: $icon-last;
	}
}
.icon-list{
	&:before {
		content: $icon-list;
	}
}
.icon-match{
	&:before {
		content: $icon-match;
	}
}
.icon-medal {
	&:before{
		content: $icon-medal;
	}
}
.icon-minus{
	&:before {
		content: $icon-minus;
	}
}
.icon-money-hand{
	&:before {
		content: $icon-money-hand;
	}
}
.icon-move{
	&:before {
		content: $icon-move;
	}
}
.icon-next{
	&:before {
		content: $icon-next;
	}
}
.icon-next-circle{
	&:before {
		content: $icon-next-circle;
	}
}
.icon-pencle{
	&:before {
		content: $icon-pencle;
	}
}
.icon-plus{
	&:before {
		content: $icon-plus;
	}
}
.icon-point{
	&:before {
		content: $icon-point;
	}
}
.icon-prev{
	&:before {
		content: $icon-prev;
	}
}
.icon-prev-circle{
	&:before {
		content: $icon-prev-circle;
	}
}
.icon-print{
	&:before {
		content: $icon-print;
	}
}
.icon-proposal{
	&:before {
		content: $icon-proposal;
	}
}
.icon-reject{
	&:before {
		content: $icon-reject;
	}
}
.icon-request{
	&:before {
		content: $icon-request;
	}
}
.icon-reset{
	&:before {
		content: $icon-reset;
	}
}
.icon-script{
	&:before {
		content: $icon-script;
	}
}
.icon-search{
	&:before {
		content: $icon-search;
	}
}
.icon-settings {
	&:before {
		content: $icon-settings;
	}
}
.icon-time{
	&:before {
		content: $icon-time;
	}
}
.icon-trash-can{
	&:before {
		content: $icon-trash-can;
	}
}
.icon-up{
	&:before {
		content: $icon-up;
	}
}
.icon-upload{
	&:before {
		content: $icon-upload;
	}
}
.icon-user{
	&:before {
		content: $icon-user;
	}
}
.icon-warning{
	&:before {
		content: $icon-warning;
	}
}