// Variables ===================================================================

//@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

@font-face {
	font-family: 'Noto Sans KR Regular';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/NotoSansKR-Regular.woff2') format('woff2'),
		 url('../fonts/NotoSansKR-Regular.woff') format('woff'),
		 url('../fonts/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR Medium';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/NotoSansKR-Medium.woff2') format('woff2'),
		 url('../fonts/NotoSansKR-Medium.woff') format('woff'),
		 url('../fonts/NotoSansKR-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR Light';
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/NotoSansKR-Light.woff2') format('woff2'),
		 url('../fonts/NotoSansKR-Light.woff') format('woff'),
		 url('../fonts/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
	font-family: 'kap-icon';
	src:  url('../fonts/kap-icon.eot?j6cx4x');
	src:  url('../fonts/kap-icon.eot?j6cx4x#iefix') format('embedded-opentype'),
	url('../fonts/kap-icon.ttf?j6cx4x') format('truetype'),
	url('../fonts/kap-icon.woff?j6cx4x') format('woff'),
	url('../fonts/kap-icon.svg?j6cx4x#kap-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}



body {
	font-family:  $kap-font-family-sans-serif;
	}
	
a {
	color: initial;
	text-decoration: $link-decoration;
	background-color: transparent; // Remove the gray background on active links in IE 10.
	-webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.

	@include hover {
		color: initial;
		text-decoration: none;
	}
}

table {
	border-collapse: collapse; // Prevent double borders
	border-spacing: 0;

	label + label{
		margin-left:5px;
	}
}
th{
	font-weight:normal;
}
	
.container{
	padding:0;
}

label{
	input[type="radio"],
	input[type="checkbox"] {
		
		vertical-align: middle;
		margin-right:6px;
	}
}

ul{
	list-style-type: none;
	padding:0;
	margin:0;
}

p{
	margin:0;
}
em{
	font-style: normal;
}
button{
	font-family:  $kap-font-family-sans-serif;
	outline:none;
	border:0;
}

input{
	&::-webkit-input-placeholder {
		color: #bdbdbd;
	}
	&:-ms-input-placeholder {
		color: #bdbdbd;
	}
}
textarea{
	border:1px solid #ccd1d9;
	border-radius:3px;
	padding:8px;
	width:100%;
	font-size:14px;
	color:#424242;

	&::-webkit-input-placeholder {
		color: #bdbdbd;
	}
	&:-ms-input-placeholder {
		color: #bdbdbd;
	}
}
