//switch checkbox - custom checkbox
/* The switch - the box around the slider */
.switch-wrap {
    position: relative;
    display: inline-block;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    margin-right:6px;

    input {
        display: none;
        &:checked + .slider {
            background: $kap-blue-dark;
            border-color: $kap-blue-dark;
        }
        &:focus + .slider {
            box-shadow: 0 0 1px $kap-blue;
        }
        &:checked + .slider:before {
            -webkit-transform: translateX(13px);
            -ms-transform: translateX(13px);
            transform: translateX(13px);
            background: $white;
           
        }
    }
    /* The slider */
    .slider {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $kap-gray-300;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border:1px solid #ccd1d9;
        &:before {
            position: absolute;
            content: "";
            height: 9px;
            width: 9px;
            left: 4px;
            bottom: 2px;
            background-color: $kap-gray-500;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }
        /* Rounded sliders */
        &.round {
            border-radius: 9px;
        }
        &.round:before {
            border-radius: 50%;
        }
    }
}